body {
    width: 300px;
    margin: 0 auto;
    padding: 20px 50px;
    border: 2px solid #000;
    border-radius: 10px;
    border-color: #007bff;
    background-color: #fff;
    text-align: center;
}

label {
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: 1px solid #0067d4;
    padding: 6px;
}

.form-container {
    width: 300px;
    margin: 0 auto;
    text-align: left;
}

.name, .gender, #department {
    margin-bottom: 20px;
}

input[type="text"] {
    height: 27px;
    border: 1px solid #007bff;
}

.gender {
    align-items: center;
}

#department {
    height: 33px;
    border: 1px solid #007bff;
}

select,
input[type="radio"] {
    margin-bottom: 10px;
}

.gender {
    display: flex;
}

#register-button {
    background-color: #02ac10;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #007bff;
    cursor: pointer;
    border-radius: 5px;
}
